
<div class="container">

<br/>
<br/>
        <div class="row">
                <button mat-raised-button (click)="openDialog()">Pick one</button>
        </div>
        <div class="row">
                
                <div class="col-md-1" *ngFor="let user of columns; let i = index">

                        <div class="row" *ngFor="let row of user.rows; let i = index" >
                                <span style="font-size:100px;" matTooltip="{{row.id}}" ><i [ngStyle]="{'color':row.color}" class="fa fa-circle" ></i></span>
                        </div>
                        
                </div>
        </div>
                
</div>